<% stylesheet 'foreman_remote_execution/foreman_remote_execution' %>

<h4 class="header"><%= link_to _("Latest Jobs"), job_invocations_path(:order=>'started_at DESC')%></h4>
<table class="<%= table_css_classes('table-fixed') %>">
  <tr>
    <th class="col-md-5"><%= _("Name") %></th>
    <th class="col-md-2"><%= _("State") %></th>
    <th class="col-md-3"><%= _("Started") %></th>
  </tr>
  <% JobInvocation.new.latest_jobs.each do |invocation| %>
    <tr>
      <td class="ellipsis"><%= link_to_if_authorized invocation_description(invocation), hash_for_job_invocation_path(invocation).merge(:auth_object => invocation, :permission => :view_job_invocations, :authorizer => authorizer) %></td>
      <td><%= link_to_invocation_task_if_authorized(invocation) %></td>
      <td><%= time_in_words_span(invocation.start_at) %></td>
    </tr>
  <% end %>
</table>