<% title _('Detail of %s run') % @template_invocation.job_invocation.job_name %>
<% stylesheet 'template_invocation' %>
<% javascript 'template_invocation' %>

<div id="title_action">
  <div class="btn-toolbar pull-right">
    <%= link_to(_('Back to Job'), job_invocation_path(@template_invocation.job_invocation)) %>
    <%= link_to_function(_('Toggle command'), '$("div.preview").toggle()') %>
    <%= link_to_function(_('Toggle STDERR'), '$("div.line.stderr").toggle()') %>
    <%= link_to_function(_('Toggle STDOUT'), '$("div.line.stdout").toggle()') %>
  </div>
</div>

<h3><%= _('Target: ') %><%= link_to(@host.name, host_path(@host)) %></h3>

<div class="preview hidden">
  <%= preview_box(@template_invocation, @host) %>
</div>

<div class="terminal" data-refresh-url="<%= template_invocation_path(@template_invocation_task) %>">
    <%= link_to_function(_('Scroll to bottom'), '$("html, body").animate({ scrollTop: $(document).height() }, "slow");', :class => 'pull-right scroll-link-bottom') %>

  <div class="printable">
    <%= render :partial => 'output_line', :collection => @template_invocation_task.main_action.output %>
  </div>

    <%= link_to_function(_('Scroll to top'), '$("html, body").animate({ scrollTop: 0 }, "slow");', :class => 'pull-right scroll-link-top') %>
</div>



<script>
  <% if @template_invocation_task.pending? %>
    $(function() {
      delayed_refresh($("div.terminal").data('refresh-url'),
              {"since": "<%= @template_invocation_task.main_action.output.last.try(:[], 'timestamp') %>", "line_counter": $("div.terminal div.line").size()});
    });
  <% end %>
</script>
