<% if job_invocation.concurrency_level ||
    (job_invocation.task && (job_invocation.task.delayed? || job_invocation.task.recurring?)) ||
    job_invocation.execution_timeout_interval.present? %>
<div class="card-pf card-pf-accented">
  <div class="card-pf-title">
    <h2 style="height: 18px;" class="card-pf-title">
      <%= _('Schedule') %>
    </h2>
  </div>
  <div class="card-pf-body">
    <p>
    <ul>
      <% if job_invocation.concurrency_level %>
        <li><b><%= _("Concurrency level limited to") %></b>: <%= job_invocation.concurrency_level %> <%= _('tasks at a time') %><br></li>
      <% end %>
      <% if job_invocation.start_before %>
        <li><b><%= _("Scheduled to start before") %></b>: <%= job_invocation.start_before %><br></li>
      <% end %>
      <% if job_invocation.task && (job_invocation.task.delayed? || job_invocation.task.recurring?) %>
        <li><b><%= _("Scheduled to start at") %></b>: <%= job_invocation.task.start_at.try(:in_time_zone) %><br></li>
      <% end %>
      <% if job_invocation.execution_timeout_interval.present? %>
        <li><b><%= _("Timeout to kill after") %></b>: <%= job_invocation.execution_timeout_interval %> <%= _('seconds') %><br></li>
        <% end %>
      <% if job_invocation.time_to_pickup.present? %>
        <li><b><%= _("Time to pickup") %></b>: <%= job_invocation.time_to_pickup %> <%= _('seconds') %><br>
        </li>
      <% end %>
    </ul>
    </p>
  </div>
</div>
<% end %>
