<% if job_invocation.targeting.resolved_at %>
  <table class="table table-bordered table-striped table-condensed">
    <thead>
    <tr>
      <th><%= _('Host') %></th>
      <th><%= _('Provider') %></th>
      <th><%= _('Status') %></th>
      <th><%= _('Actions') %></th>
    </tr>
    </thead>

    <tbody>
      <% job_invocation.targeting.hosts.each do |host| %>
        <tr>
          <% task = job_invocation.last_task.sub_tasks.select { |task| task.locks.where(:resource_type => 'Host::Managed', :resource_id => host.id).any? }.first %>
          <td><%= link_to_if_authorized host.name, hash_for_host_path(host).merge(:auth_object => host, :permission => :view_hosts) %></td>

          <td><%= remote_execution_provider_for(task) %></td>
          <td><%= template_invocation_status(task) %></td>
          <td><%= action_buttons(
                          display_link_if_authorized(_("Details"), hash_for_template_invocation_path(:id => task).merge(:auth_object => host, :permission => :view_foreman_tasks))
                  ) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-warning">
    <%= _("The dynamic query '#{job_invocation.targeting.search_query}' was not resolved yet. The list of hosts to which it would resolve now can be seen") %>
    <%= link_to('here.', hosts_url(:search => job_invocation.targeting.search_query)) %>
  </div>
<% end %>
