<% template_invocations = job_invocation.pattern_template_invocations %>
<div class='row'>
  <div class="col-xs-6 col-sm-6 col-md-6">
    <%= render :partial => 'card_results' %>
  </div>

  <div class='col-xs-12 col-sm-6 col-md-6'>
  <%= render :partial => 'card_target_hosts', :locals => { :job_invocation => job_invocation } %>
  <% template_invocations.each do |template_invocation| %>
    <% if template_invocation.effective_user %>
      <%= minicard('user', template_invocation.effective_user,
                   template_invocation.template.name + ' ' + _('effective user')) %>
    <% end %>
    <% if template_invocation.input_values.present? %>
      <%= render :partial => 'card_user_input', :locals => { :template_invocation => template_invocation } %>
    <% end %>
  <% end %>
  <%= minicard('cluster', job_invocation.total_hosts_count, _('Total hosts')) %>
  </div>
    <% if job_invocation.concurrency_level %>
      <b><%= _("Concurrency level limited to") %></b>: <%= job_invocation.concurrency_level %> <%= _('tasks at a time') %><br>
    <% end %>
    <% if job_invocation.time_span %>
      <b><%= _("Set to distribute over") %></b>: <%= job_invocation.time_span %> <%= _('seconds') %><br>
    <% end %>
    <% if job_invocation.task && (job_invocation.task.delayed? || job_invocation.task.recurring?) %>
      <b><%= _("Scheduled to start at") %></b>: <%= job_invocation.task.start_at.try(:in_time_zone) %><br>
    <% end %>
    <% unless job_invocation.execution_timeout_interval.nil? %>
      <b><%= _("Timeout to kill after") %></b>: <%= job_invocation.execution_timeout_interval %> <%= _('seconds') %><br>
    <% end %>

</div>
<hr/>
<% if job_invocation.resolved? %>
  <div id="hosts" data-refresh_required="true">
    <%= render :partial => 'tab_hosts', :locals => { :job_invocation => job_invocation, :hosts => hosts } %>
  </div>
<% else %>
  <div class="alert alert-warning">
    <%= _("The dynamic query '#{job_invocation.targeting.search_query}' was not resolved yet. The list of hosts to which it would resolve now can be seen") %>
    <%= link_to('here.', hosts_url(:search => job_invocation.targeting.search_query)) %>
  </div>
<% end %>
