<div id='preview_<%= target.id %>' class='collapse out'>
  <%= preview_box(template_invocation, target) %>
  <% if template_invocation.input_values.present? %>
    <table class='datatable table table-striped table-bordered dataTable no-footer'>
      <thead>
        <tr>
          <th><%= _('User input') %></th>
          <th><%= _('Value') %></th>
        </tr>
      </thead>
      <tbody>
      <% template_invocation.input_values.joins(:template_input).each do |input_value| %>
        <tr>
          <td><b><%= input_value.template_input.name %></b></td>
          <td><%= input_value.value %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</div>
