<% title _('Job invocations') %>

<% title_actions(job_invocations_buttons) %>

<table class="table table-bordered table-striped table-condensed table-fixed">
  <thead>
    <tr>
      <th><%= sort :description, :as => _('Description') %></th>
      <th class="col-md-1"><%= _('Status') %></th>
      <th class="col-md-1"><%= _('Succeeded') %></th>
      <th class="col-md-1"><%= _('Failed') %></th>
      <th class="col-md-1"><%= _('Pending') %></th>
      <th class="col-md-1"><%= _('Total hosts') %></th>
      <th class="col-md-2"><%= sort :start_at, :as => _('Start') %></th>
    </tr>
  </thead>

  <tbody>
    <% @job_invocations.each do |invocation| %>
      <tr>
        <td><%= link_to_if_authorized "#{invocation.description.try(:capitalize) || invocation.job_category}", hash_for_job_invocation_path(invocation).merge(:auth_object => invocation, :permission => :view_job_invocations) %></td>
        <td><%= link_to_invocation_task_if_authorized(invocation) %></td>
        <td><%= invocation_count(invocation, :output_key => :success_count) %></td>
        <td><%= invocation_count(invocation, :output_key => :failed_count) %></td>
        <td><%= invocation_count(invocation, :output_key => :pending_count) %></td>
        <td><%= invocation_count(invocation, :output_key => :total_count) %></td>
        <td><%= time_in_words_span(invocation.start_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate_with_info @job_invocations %>
