<% title @job_invocation.job_name %>
<% stylesheet 'job_invocations' %>
<% javascript 'template_invocation' %>

<% if @job_invocation.last_task %>
  <% title_actions(job_invocation_task_buttons(@job_invocation.last_task)) %>
<% end %>

<ul class="nav nav-tabs" data-tabs="tabs">
  <li class="active"><a href="#primary" data-toggle="tab"><%= _('Overview') %></a></li>
  <li><a href="#hosts" data-toggle="tab"><%= _('Hosts') %></a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="primary">
    <%= render 'tab_overview', :job_invocation => @job_invocation %>
  </div>

  <div class="tab-pane" id="hosts">
    <%= render 'tab_hosts', :job_invocation => @job_invocation %>
  </div>
</div>

<script id="job_invocation_refresh" data-refresh-url="<%= job_invocation_path(@job_invocation) %>">
<% if @job_invocation.last_task.pending? %>
  delayed_refresh($('script#job_invocation_refresh').data('refresh-url'));
<% end %>
</script>
