<% title @job_invocation.description %>
<% stylesheet 'foreman_remote_execution/foreman_remote_execution' %>
<% javascript 'charts', 'foreman_remote_execution/template_invocation' %>
<%= javascript_include_tag *webpack_asset_paths('foreman_remote_execution', :extension => 'js'), "data-turbolinks-track" => true, 'defer' => 'defer' %>

<%= breadcrumbs name_field: 'description' %>

<% if @job_invocation.task %>
  <% title_actions(button_group(job_invocation_task_buttons(@job_invocation.task))) %>
<% end %>

<ul class="nav nav-tabs" data-tabs="tabs">
  <li class="active">
    <a href="#primary" data-toggle="tab"><%= _('Overview') %></a>
  </li>
  <li>
    <a href="#preview_templates" data-toggle="tab"><%= _('Preview templates') %></a>
  </li>
  <% if @job_invocation.recurring_logic.present? %>
    <li><a href="#recurring_logic" data-toggle="tab"><%= _('Recurring logic') %></a></li>
  <% end %>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="primary">
    <%= render 'tab_overview', :job_invocation => @job_invocation, :hosts => @hosts %>
  </div>
  <div class="tab-pane" id="preview_templates">
    <%= render 'tab_preview_templates', :job_invocation => @job_invocation %>
  </div>

  <% unless @job_invocation.recurring_logic.nil? %>
  <div class="tab-pane" id="recurring_logic">
    <div class='col-md-6'>
      <% if @job_invocation.recurring_logic.try(:task_group) %>
      <%= render @job_invocation.recurring_logic.task_group, :task_group => @job_invocation.recurring_logic.try(:task_group) %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>

<script id="job_invocation_refresh" data-refresh-url="<%= job_invocation_path(@job_invocation) %>">
<% if @auto_refresh %>
  delayed_refresh($('script#job_invocation_refresh').data('refresh-url'), job_invocation_refresh_data());
<% end %>
</script>
