<% title @job_invocation.job_name %>
<% stylesheet 'job_invocations' %>
<% javascript 'template_invocation' %>

<% if @job_invocation.last_task %>
  <% title_actions(button_group(job_invocation_task_buttons(@job_invocation.last_task))) %>
<% end %>

<ul class="nav nav-tabs" data-tabs="tabs">
  <li class="<%= job_invocation_active_tab(:overview, params) %>"><a href="#primary" data-toggle="tab"><%= _('Overview') %></a></li>
  <li class="<%= job_invocation_active_tab(:hosts, params) %>"><a href="#hosts" data-toggle="tab"><%= _('Hosts') %></a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane <%= job_invocation_active_tab(:overview, params) %>" id="primary">
    <%= render 'tab_overview', :job_invocation => @job_invocation %>
  </div>

  <div class="tab-pane <%= job_invocation_active_tab(:hosts, params) %>" id="hosts" data-refresh_required="<%= @job_invocation.resolved? ? '' : 'true' %>">
    <%= render 'tab_hosts', :job_invocation => @job_invocation, :hosts => @hosts %>
  </div>
</div>

<script id="job_invocation_refresh" data-refresh-url="<%= job_invocation_path(@job_invocation) %>">
<% if @auto_refresh %>
  delayed_refresh($('script#job_invocation_refresh').data('refresh-url'), job_invocation_refresh_data());
<% end %>
</script>
