<% title _('Remote Execution Features') %>

<table class="<%= table_css_classes('table-condensed') %>">
  <thead>
    <tr>
      <th><%= sort :label, :as => _('Label') %></th>
      <th><%= sort :name, :as => _('Name') %></th>
      <th><%= sort :description, :as => _('Description') %></th>
    </tr>
  </thead>

  <tbody>
    <% @remote_execution_features.each do |feature| %>
      <tr>
        <td><%= link_to_if_authorized feature.label, hash_for_remote_execution_feature_path(feature).merge(:auth_object => feature, :permission => :edit_remote_execution_features, :authorizer => authorizer) %></td>
        <td><%= feature.name %></td>
        <td><%= feature.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
