<div class="tab-pane" id="template_job">

  <%= field(f, :job_name) do %>
    <%= auto_complete_search(:job_name,
                             f.object.job_name,
                             :placeholder => _("Job name") + ' ...',
                             :name => 'job_template[job_name]',
                             :id => 'search') %>
  <% end %>

  <%= text_f f, :description_format,
             :help_inline => popover(_('Explanation'), _('Description template determines the job name once it is submitted. Input values can become part of the name
                         if they are specified using interpolation syntax, e.g. %{fqdn} where fqdn is the name of interpolated input.')) %>

  <%= select_f f, :provider_type, providers_options, :first, :last %>

  <div class="children_fields">
    <%= new_child_fields_template(f, :template_inputs, { :partial => "template_inputs/form" }) %>
    <%= f.fields_for :template_inputs do |ff| %>
      <div class="template_input_form fields">
        <%= render 'template_inputs/form', :f => ff %>
      </div>
    <% end %>
    <%= add_child_link '+ ' + _("Add Input"), :template_inputs, { :title => _('add a input for this template')} %>
  </div>

  <div class="children_fields">
    <%= field_set_tag _("Effective user") do %>
      <%= f.fields_for :effective_user, @template.effective_user do |ff| %>
        <div class="effective_user_form fields">
          <%= text_f ff, :value %>
          <%= checkbox_f ff, :current_user %>
          <%= checkbox_f ff, :overridable %>
        </div>
      <% end %>
    <% end %>
  </div>

</div>


<div class="tab-pane" id="template_type">
  <%= checkbox_f f, :snippet, :onchange => "snippet_changed(this)", :label=>_('Snippet'), :disabled => @template.locked? %>
</div>
