<%= javascript 'foreman_remote_execution/job_templates' %>
<%= javascript 'lookup_keys' %>
<%= javascript 'foreman_remote_execution/template_input' %>

<% title _("Job Templates") %>
<% title_actions(documentation_button_rex('3.1JobTemplates'),
                 link_to_function(_('Import'), 'show_import_job_template_modal();', :class => 'btn btn-default'),
                 new_link(_("New Job Template"))) %>

<table class="<%= table_css_classes('table-two-pane table-fixed') %>">
  <thead>
    <tr>
      <th class="col-md-6"><%= sort :name, :as => s_("JobTemplate|Name") %></th>
      <th class="col-md-1"><%= sort :snippet, :as => s_("JobTemplate|Snippet") %></th>
      <th class="col-md-1"><%= sort :locked, :as => s_("JobTemplate|Locked"), :default => "DESC" %></th>
      <th class="col-md-1"><%= _('Actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% for job_template in @templates %>
      <tr>
        <td class="display-two-pane ellipsis"><%= link_to_if_authorized job_template,
                                                               hash_for_edit_job_template_path(:id => job_template).merge(:auth_object => job_template, :authorizer => authorizer) %></td>
        <td align='center'><%= checked_icon job_template.snippet %></td>
        <td align='center'>
          <%= locked_icon job_template.locked?, _("This template is locked for editing.") %>
        </td>
        <td>
          <%= action_buttons(*permitted_actions(job_template)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate_with_info @templates %>

<%= render :partial => 'import_job_template_modal' %>
